
$main-bg: #F4F4F2;
$bg-text: #291E0F;
$surface: #fff;
$surface-text: #414141;
$primary-text: #fff;
$primary-orange: #FF6633;
$secondary-text: #fff;


$lightset: #F3F2F1;
$light: #BFBFBF;
$hard: #8F8F8F;
$hardest: #606060;


$succes:#008C49;
$info: #1CB9FC;
$warning: #FCA21C;
$error: #D80000;

$theme-text: var(--theme-text);
$theme-background: var(--theme-background);
$theme-error: var(--theme-error);